<div class="p-2">
    <mat-card> 
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
            <h2>Listado de prospectos</h2>  
            <button mat-raised-button color="primary" (click)="openProspectoDialog(null, 1)">Agregar prospecto</button>
        </div>
        <mat-divider></mat-divider>


           @if (list) {
            <div class="mat-mdc-table admin-table">
                <div class="mat-mdc-header-row">
                    <div class="mat-mdc-header-cell">Nombre</div>
                    <div class="mat-mdc-header-cell">Apellido paterno</div> 
                    <div class="mat-mdc-header-cell">Apellido materno</div>
                    <div class="mat-mdc-header-cell">Status</div>
                    <div class="mat-mdc-header-cell"></div>
                </div>

                <div *ngFor="let prospecto of list.prospectos" class="mat-mdc-row">
                    <div class="mat-mdc-cell">{{prospecto.nombre}}</div>
                    <div class="mat-mdc-cell">{{prospecto.apellido_paterno}}</div>
                    <div class="mat-mdc-cell">{{prospecto.apellido_materno}}</div>
                    <div class="mat-mdc-cell">{{ prospecto.status === 1 ? 'Enviado' : prospecto.status === 2 ? 'Autorizado' : 'Rechazado' }}</div>   
                    <div class="mat-mdc-cell">
                        <div class="p-2 actions">          
                            <button mat-mini-fab color="primary" matTooltip="Edit" (click)="openProspectoDialog(prospecto._id, 2)">
                                <mat-icon>remove_red_eye</mat-icon>
                            </button>
                        
                        </div>
                    </div>      
                </div>
            </div>
           } @else {
            <mat-card>
             <h4>No hay elemtnos para mostrar...</h4>
            </mat-card>
           }
        
    </mat-card>

    <div fxLayout="row wrap">
        @if (list) {
            <div fxFlex="100" class="p-2"> 
                <mat-card class="text-center">           
                    <mat-paginator (page)="handlePageEvent($event)" 
                        [length]="list.total" 
                        [pageSizeOptions]="[12, 24, 100]"
                        [showFirstLastButtons]="true"
                        [pageIndex]="page"
                        aria-label="Seleccionar pagina">
                    </mat-paginator>
                </mat-card>
            </div>
        }
    </div>

</div>