<h1 mat-dialog-title>{{data?.title}}</h1>

<div mat-dialog-content>
    <p>{{data?.message}}</p>
</div>


 <div fxLayout="row wrap" class="mt-3">
    <div fxFlex="100" fxFlex.gt-sm="100" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Comentario Rechazo</mat-label>
            <textarea  matInput placeholder="Comentario Rechazo" name="comentario_rechazo" [(ngModel)]="comentario_rechazo"> </textarea>
        </mat-form-field>
    </div>    
 </div>


<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <button mat-raised-button color="warn" (click)="onDismiss()">No</button>
        <button mat-raised-button color="primary" (click)="onConfirm()">Si</button>
    </div>  
</div>