<h1 mat-dialog-title>Prospecto</h1>
<form [formGroup]="formProspecto" (ngSubmit)="onSubmit()" autocomplete="off">
    <div mat-dialog-content> 
        <div fxLayout="row wrap" class="mt-3">
            
            <div fxFlex="100" fxFlex.gt-sm="33.33" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nombre</mat-label>
                    <input [readonly]="data.prospecto" matInput placeholder="Nombre" formControlName="nombre" required>
                    <mat-error *ngIf="formProspecto.controls.nombre.errors?.required">El nombre es obligatorio</mat-error>   
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="33.33" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Apellido Paterno</mat-label>
                    <input [readonly]="data.prospecto" matInput placeholder="Apellido Paterno" formControlName="apellido_paterno" required>
                    <mat-error *ngIf="formProspecto.controls.apellido_paterno.errors?.required">El Apellido Paterno es obligatorio</mat-error>   
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="33.33" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Apellido Materno</mat-label>
                    <input [readonly]="data.prospecto" matInput placeholder="Apellido Materno" formControlName="apellido_materno">
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="25" class="px-2">
                <mat-form-field appearance="outline" class="w-100" >
                    <mat-label>RFC</mat-label>
                    <input [readonly]="data.prospecto" oninput="this.value = this.value.toUpperCase()" matInput placeholder="RFC" formControlName="rfc" required>
                    <mat-error *ngIf="formProspecto.controls.rfc.errors?.required">El RFC es obligatorio</mat-error> 
                    <mat-error *ngIf="formProspecto.controls.rfc.hasError('pattern')">Formato invalido para el RFC</mat-error> 
                </mat-form-field>
            </div>
            
            <div fxFlex="100" fxFlex.gt-sm="25" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Código Postal</mat-label>
                    <input [readonly]="data.prospecto" matInput #postalCode maxlength="5" placeholder="CP" formControlName="codigo_postal" required>
                    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                    <mat-error *ngIf="formProspecto.controls.codigo_postal.errors?.required">El código postal es obligatorio</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="25" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Número</mat-label>
                    <input [readonly]="data.prospecto" matInput placeholder="Número" formControlName="numero" required>
                    <mat-error *ngIf="formProspecto.controls.numero.errors?.required">El Número es obligatorio</mat-error> 
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="25" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Teléfono</mat-label>
                    <input [readonly]="data.prospecto" matInput placeholder="Teléfono" formControlName="telefono" required>
                    <mat-error *ngIf="formProspecto.controls.telefono.errors?.required">El Teléfono es obligatorio</mat-error> 
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Calle</mat-label>
                    <input [readonly]="data.prospecto" matInput placeholder="Calle" formControlName="calle" required>
                    <mat-error *ngIf="formProspecto.controls.telefono.errors?.required">La calle es obligatorio</mat-error> 
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Colonia</mat-label>
                    <input [readonly]="data.prospecto" matInput placeholder="Colonia" formControlName="colonia" required>
                    <mat-error *ngIf="formProspecto.controls.colonia.errors?.required">La Colonia es obligatorio</mat-error> 
                </mat-form-field>
            </div>

            @if (formProspecto.value.status === 3) {
                <div fxFlex="100" fxFlex.gt-sm="100" class="px-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Comentario Rechazo</mat-label>
                        <textarea [readonly]="data.prospecto" matInput placeholder="Comentario Rechazo" formControlName="comentario_rechazo"> </textarea>
                    </mat-form-field>
                </div>
            }

            <mat-divider></mat-divider>
           
            <div class="example-button-row">
                <input style="display: none" multiple type="file" (change)="onFileSelect($event.target)" #hiddenfileinput>
                <button [disabled]="formProspecto.value._id" mat-raised-button color="primary" type="button" (click)="hiddenfileinput.click()">Documentos (+)</button>
                @if (formProspecto.value._id && formProspecto.value.status === 1) {
                    <button style="padding-left: 10px !important" (click)="rechazar()" mat-raised-button color="warn" type="button">Rechazar</button>
                    <button (click)="autorizar()" style="padding-left: 10px !important" mat-raised-button color="primary" type="button">Autorizar</button>
                }
            </div>
            
            <div fxFlex="100" style="padding-top: 20px;" fxFlex.gt-sm="100" class="px-2">
                <h3>Lista de documentos</h3>
                <mat-list>
                    @if (!formProspecto.value._id) {
                        @for (file of files; track file.id) {
                            <mat-list-item>
                                <span matListItemTitle>{{file.file.name}}</span>
                                <span matListItemLine>{{formatBytes(file.file.size)}}</span>
                                <span>    
                                    <button (click)="deleteFile($index)" mat-icon-button type="button" color="warn">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </span>
                            </mat-list-item>
                        }
                    } @else {
                        @for (file of files; track file.id) {
                            <mat-list-item>
                                <span matListItemTitle>{{file}}</span>
                                <span>    
                                    <button (click)="dowloadArchivo(file)" mat-icon-button type="button" color="primary">
                                        <mat-icon>remove_red_eye</mat-icon>
                                    </button>
                                </span>
                            </mat-list-item>
                        }
                    }
              
                </mat-list>
            </div>
           
        </div>  
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
            <button (click)="close()" mat-raised-button color="warn" type="button">Salir</button>
           @if (data.tipo === 1) {
           
            <button [disabled]="formProspecto.invalid" mat-raised-button color="primary" type="submit">Enviar</button>
           }
        </div> 
    </div>
</form>